@media screen and (max-width: 1400px) {
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container{
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 1050px){
  #desktop-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #experience, .experience-details-container{
    margin-top: 2rem;
  }
  #profile, .section-container{
    display: block;
    height: fit-content;
  }
  .arrow{
    display: none;
  }
  section, .section-container{
    height: fit-content;
  }
  section{
    margin: 0 5%;
  }
  .section__pic-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
    .about-containers-projects, .containers-experience {
      gap: 0.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
}
  

@media screen and (max-width: 600px) {
  #contact, footer{
    height: 40vh;

  }

  article{
    font-size: 1rem;
  }

  footer nav{
    height: fit-content;
    font-size: smaller;
    margin-bottom: 2rem;
  }

  .contacct-info-upper-container{
    flex-wrap: wrap;
    flex-direction: column;
  }
}

